<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>

<div layout:fragment="content">

    <div class="row align-items-top">

        <div class="col-lg-4">
        <!-- Card with titles, buttons, and links -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Countries</h5>
<!--                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text"><a href="/parameters/countries" class="btn btn-primary">Manage Countries</a></p>
                </div>
            </div><!-- End Card with titles, buttons, and links -->
        </div>

        <div class="col-lg-4">
            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Modules</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><a href="#" class="btn btn-primary">Manage Modules</a></p>
                    </div>
            </div><!-- End Card with titles, buttons, and links -->
        </div>

        <div class="col-lg-4">

            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">States</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><a href="/parameters/states" class="btn btn-primary">Manage States</a></p>
                    </div>
            </div><!-- End Card with titles, buttons, and links -->
        </div>
    </div>
    <div class="row align-items-top">

        <div class="col-lg-4">
        <!-- Card with titles, buttons, and links -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Locations</h5>
<!--                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text"><a href="/parameters/locations" class="btn btn-primary">Manage Locations</a></p>
                </div>
            </div><!-- End Card with titles, buttons, and links -->
        </div>

        <div class="col-lg-4">
            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Contacts</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><a href="#" class="btn btn-primary">Manage Contacts</a></p>
                    </div>
            </div><!-- End Card with titles, buttons, and links -->
        </div>

        <div class="col-lg-4">

            <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Suppliers</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        <p class="card-text"><a href="#" class="btn btn-primary">Manage Suppliers</a></p>
                    </div>
            </div><!-- End Card with titles, buttons, and links -->
        </div>
    </div>
    <div class="row align-items-top">
        <div class="col-lg-4">
        <!-- Card with titles, buttons, and links -->
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clients</h5>
<!--                    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>-->
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <p class="card-text"><a href="#" class="btn btn-primary">Manage Clients</a></p>
                </div>
            </div><!-- End Card with titles, buttons, and links -->
        </div>
    </div>

</div>

</body>
</html>
