<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="_layout">
<body>
    <div layout:fragment="content">

        <section class="section">
            <div class="row">
                <p><a href="/stateAdd" type="button" class="btn btn-primary">New State</a></p>

                <div class="col-lg-12">

                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">List of States</h5>

                            <!-- Table with stripped rows -->
                            <table class="table datatable">
                                <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Name</th>
                                    <th scope="col">Capital</th>
                                    <th scope="col">Code</th>
                                    <th scope="col">Country</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr th:each="state: ${states}">
                                    <th th:text="${state.id}" scope="row"></th>
                                    <td th:text="${state.name}"></td>
                                    <td th:text="${state.capital}"></td>
                                    <td th:text="${state.code}"></td>
                                    <td th:text="${state.countryid}"></td>
                                    <td th:text="${state.details}"></td>
                                    <td>
                                        <div class="btn-group">
                                            <a class="btn btn-success"
                                               th:href="@{'/countryEdit/' + ${country.id}}">
                                                <i class="bi bi-check-circle"></i>
                                            </a>
                                            <a class="btn btn-danger"
                                               onclick="return confirm('Are you sure you want to delete this record?')"
                                               th:href="@{'/countries/delete/' + ${country.id}}">
                                                <i class="bi bi-x-circle"></i>
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                            <!-- End Table with stripped rows -->

                        </div>
                    </div>

                </div>
            </div>
        </section>


    </div>
</body>
</html>
